extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div
        label(for='name') Product:
        input#name(type='text', placeholder='' name='name' value=(undefined===product ? '' : product.name))
        label(for="description") Description:
        input#description(type='text', placeholder='description' name='description' value=(undefined===product ? '' : product.description))
        label(for="category") Category:
        select#category-select(name='category')
            each category in categories
                option(value=category.id) #{category.name}
        label(for="price") Price:
        input#price(type='number' min=1 splaceholder='price in $' name='price' step="0.01" value=(undefined===product ? '' : product.price))
    button(type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg